@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="post">
    <label style="width:100%;">Please enter your Name</label>
    <input style="width:100%;" type="text" name="UserName" placeholder="Your Name" required />
    <label style="width:100%;">Please enter your Name</label>
    <input style="width:100%;"type="number" name="UserAge" placeholder="Your Age" required />
    <button style="width:100%;" type="submit">Submit</button>
</form>